@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: url("https://vgitte.stripocdn.email/content/guids/CABINET_665437cfb221be702461be3edbe4faee/images/just_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    font-family: 'Poppins', sans-serif !important;
}

.text-primary {
    color: #4c3739 !important;
    font-size: 1.2rem;
}

.root {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
}

.container {
    display: flex;
    background: url("https://vgitte.stripocdn.email/content/guids/CABINET_665437cfb221be702461be3edbe4faee/images/just_background.png");
    padding: 12px;
    border-radius: 6px;
    box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.13);
    margin: 120px 10px;
}

.invitation-card {
    flex: 1;
}

.invitation-card img {
    width: 400px; /* Make the image fill the width of its parent container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any default inline styles */
}

form {
    flex: 1;
}

@media only screen and (max-width: 850px) {
    .container {
        width: 100%;
        min-height: 100vh;
        margin: 0;
        flex-direction: column;
    }
    form {
        padding-bottom: 50px;
    }

    .invitation-card img {
        width: 100%
    }

    #hide-form-1668162719002 {
        height: 70vh;
    }
    .container {
        background: transparent;
    }
    body {
        background-repeat: no-repeat;
        background-size: cover;
    }
}